$secundary-transparent: rgba(247, 49, 100, 0.15);

.btn-float {
  border-radius: 100%;
  background: red;
  right: 15px;
  bottom: 15px;
  position: fixed;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}
.icon-hover {
  color: #000;
  background-color: #fff;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  margin-left: 2px;
}
.icon-hover:hover {
  background-color: #7b25cc;
  box-shadow: 0px 15px 20px rgba(46, 89, 229, 0.4);
  color: rgb(80, 32, 32);
  transform: translateY(-2px);
}
