
.loading__page__content {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.loading__page__spinner {
  height: 100%;
  width: 10%;
  background: var(--indigo);
  position: relative;
}

.loading__page__spinner__loading {
  height: 100%;
  width: 0%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
  animation: loading__page infinite 0.7s;
}

@keyframes loading__page {
  from {width: 0%;}
  to {width: 100%;}
}


.loading__content__background { 
  transition: all 1.5s ease-out;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.3); 
  top: 0px;
  left: 0px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__content__background__disabled {
  transition: all 1.5s ease-in;
  display: none;
}