.login__content {
  width: 100%;
  min-height: 100vh;
  margin: auto auto;
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
}

.login__background {
  width: 100vh;
  min-height: 100vh;
  background-image: url("../../images/login/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login__icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4em 0.3em;
  margin-top: 4em;
}

.without_padding {
  padding: 0px !important;
}